body {
    background-color: #f9f9f9;
}

.header {
    background: #2d2d2d;
    color: #e9e9e9;
}

.header .page-header {
    border-bottom: none;
    margin-bottom: 0;
}

.btn-toolbar {
    background-color: #e9e9e9;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 1.0rem;
    padding: 0.85rem 0;
}

.btn-toolbar .btn {
    margin-right: 1.0rem;
}

.category-item-list {
    padding-right: 1.0rem;
}

.filter-field {
    width: 50%;
    margin-bottom: 1.0rem;
}

.list-group-item p {
    display: table;
    width: 100%;
}

.description {
    display: table-cell;
    padding-right: 0.5rem;
    width: 85%;
}

.favorite-action {
    display: table-cell;
    padding-left: 0.5rem;
    width: 15%;
}

.favorite-action .btn {
    vertical-align: text-top;
}